.dropzone {
	border: 2px dashed #df3636;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	position: relative;
	height: 400px; /* Adjust as needed */
	width: 100%;
	margin: auto;
	background-color: rgb(255, 219, 219);
	border-radius: 25px;
	transition:
		background-color 0.3s,
		border-color 0.3s; /* Add transition effects */
}

.dropzone:hover {
	background-color: rgba(223, 54, 54, 0.2); /* Change background on hover */
	border-color: #c0392b; /* Darken border on hover */
}

.file-input-group {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #555; /* Slightly darker text for visibility */
}

.dropzone p {
	margin-top: 50px;
}

.dropzone.image-loaded p {
	display: none; /* Hide instructions once image is loaded */
}

.image-preview {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-preview img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.remove-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
}

.remove-button:hover {
	background: rgba(0, 0, 0, 0.7);
}

.custom-container {
	height: 70vh; /* Height for centering */
}

.custom-card {
	max-width: 700px; /* Card size */
	width: 100%;
	border-radius: 20px;
	background-color: #fff;
}

.result-container {
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 10px;
}

.prediction-text {
	font-weight: bold;
}

.btn-three {
	color: #fff;
	background-color: #000; /* Hitam */
	border: none;
	padding: 10px 60px; /* Ukuran tombol */
	font-size: 18px;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.btn-three:hover {
	background-color: #7d0000; /* Merah saat hover */
	color: #fff;
}

.custom-container {
	height: 70vh;
}

.custom-card {
	max-width: 700px;
	width: 100%;
	border-radius: 20px;
	background-color: #fff;
}

.result-container {
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 10px;
}

@media (max-width: 992px) {
	.custom-container {
		height: auto;
		margin-top: 20px;
	}

	.custom-card {
		max-width: 90%;
		padding: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 576px) {
	.custom-container {
		height: auto;
		margin-top: 30px;
	}

	.custom-card {
		max-width: 95%;
		padding: 15px;
		margin-bottom: 40px;
	}
}

h1 {
	margin-top: 20px; /* Sesuaikan jarak atas judul */
}

.container {
	margin-top: 30px; /* Atur margin atas untuk seluruh container */
}

.text-center p {
	margin-bottom: 20px; /* Menambah spasi bawah pada paragraf */
}
.btn:disabled {
	background-color: #ccc; /* Ubah warna latar belakang */
	color: #666; /* Ubah warna teks */
	border-color: #999; /* Ubah warna border */
	cursor: not-allowed; /* Tampilkan kursor not-allowed */
}
