:root {
	--bs-primary: #e32020;
	--bs-secondary: #ffd8d2;
}



body {
	padding-top: 70px; /* Sesuaikan ini dengan tinggi navbar Anda */
}

.main-content {
	margin-top: 80px; /* Sesuaikan nilai ini dengan tinggi navbar Anda */
}
